body {
    font-family: "Open Sans", sans-serif;

}

.page-logo a{
    display: inline-block;
    margin-top: 15px;
    font-size: 18px;
    color: #3598dc;
    font-weight: bold;
    text-transform: uppercase;
}

.page-logo a small{
    display: block;
    font-size: 14px;
    font-weight: 300;
    text-transform: none;
}

.page-header.navbar .top-menu .navbar-nav>li a {
    color: #C0CDDC;
    padding: 29px 12px 24px;
    /* line-height: 21px; */
}

.page-header.navbar .top-menu .navbar-nav>li a:hover {
    background-color: #f9fafc;
}

.top-menu .glyphicon-lock {
    margin-right: 10px;
}

footer{
    padding: 20px;
    background: #2a2730;
    color: #fff;
}

.map{
    height: 600px;
}

.projects-map-page .portlet{
    overflow: hidden;
}

.projects-map-page .portlet>.portlet-title {
    border-bottom: 0px;
}

.projects-map-page .portlet-title img{
    float: left;
    height: 100px;
    width: auto;
    margin-right: 15px;
}

.projects-filter-form fieldset {
    margin-bottom: 20px;
}

.region-statictic {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
}

.projects-map-page .tab-content{
    padding-top: 15px;
}

.statistic-table{
    margin-bottom: 30px;
}

.statistic-table td {
    width: 50%;
}

.statistic-table td:nth-child(even) {
    text-align: right;
}

.statistic-table .label {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px;
}

.statistic-table .label b {
    display: block;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 4px;
}

.statistic-table i {
    display: block;
}

.modal_window .thumbnail {
    text-align: center;
}

.modal_window .thumbnail>img{
    height: 100px;
    width: auto;
}

.modal_details{
    list-style: none;
    padding-left: 0px;
}

.modal_details a{
    display: block;
    padding: 10px 15px;
    border-left: 3px solid transparent;
    color: #333;
}

.modal_details a:hover,
.modal_details a.active{
    text-decoration: none;
    border-left: 3px solid #36c6d3;
}

.modal_window:not(.active){
    display: none;
}

.modal_window{
    position: fixed;
    top: 95px;
    bottom: 55px;
    z-index: 1;
    width: calc(100%/3);
}

.modal_window .close_modal_window{
    position: absolute;
    right: 5px;
    top: 5px;
}

.page-sidebar{
    width: auto;
    float: none;
    margin-right: 0px;
}

.portlet>.portlet-title.filter-title{
    margin-bottom: 0px;
}

.portlet>.filter-title+.portlet-body{
    padding-top: 0px;
}

.profile{
    padding-top: 20px;
}

.profile .list-thumb{
    text-align: center;
}

.mt-list-item.mt-element-ribbon{
    margin-bottom: 0px;
}

.mt-list-item.mt-element-ribbon .ribbon{
    top: 10px;
}

.mt-element-list .list-news.mt-list-container ul>.mt-list-item>.ribbon + .list-icon-container{
    margin-top: 0px;
}

.list-item-info .right{
    float: right;
    padding-right: 50px;
}

.mt-element-list .list-news.ext-1.mt-list-container ul>.mt-list-item:hover{
    background-color: transparent;
}

.company_name{
    display: inline-block;
    padding-left: 20px;
    font-size: 22px;
    line-height: 75px;
}

.profile-header .glyphicon{
    font-size: 18px;
    vertical-align: middle;
}

.messages,
.dialog{
    list-style: none;
    border: 1px solid #e7ecf1;
    padding: 0px;
}

.messages li:not(:first-child),
.dialog li:not(:first-child){
    border-top: 1px solid #e7ecf1;
}

.messages a{
    display: block;
    padding: 20px 15px;
    position: relative;
    color: #34495e;
    font-size: 18px;
    font-weight: 300;
}

.messages a:hover{
    background: #eee;
    color: #32c5d2;
    text-decoration: none;
}

.messages .new_messages{
    position: absolute;
    right: -2px;
    padding: .5em 1em;
    z-index: 5;
    background-color: #F1C40F;
    color: #010100;
    top: 50%;
    transform: translateY(-50%);
}

.messages .date{
    float: right;
    padding-right: 80px;
    font-size: 16px;
}

.dialog li{
    padding: 15px;
}

.dialog h4{
    font-weight: 400;
}

.dialog h4 small{
    float: right;
}

.dialog p{
    margin-bottom: 3px;
    font-weight: 300;
}

.dialog h4 + p{
    margin-bottom: 15px;
}

.file_upload{
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #36c6d3;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}

.file_upload input{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    cursor: pointer;
}
