{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Тест границ региона</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">

    <style>
        html, body, #mapblock {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
    </style>

</head>

<body>

    <div id="mapblock"></div>

    <div id="polyset" style="display: none">{{ polyset }}</div>
{#    <div id="test" style="display: none">{{ test }}</div>#}


<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script>
ymaps.ready(init);

var poly_raw = $('#polyset').text();
var poly_json = JSON.parse(poly_raw);
{#console.log(typeof poly_json);#}
{#console.log(poly_json);#}

function init() {
    var myMap = new ymaps.Map("mapblock", {
{#            center: [64.9211447, 36.4386802],#}
            center: [60.0542329, 61.991031],
            zoom: 5
        }, {
{#            searchControlProvider: 'yandex#search'#}
        });


    myMap.layers.add(new ymaps.Layer(
        'http://tile.openstreetmap.org/%z/%x/%y.png', {
            projection: ymaps.projection.sphericalMercator
        }));
    myMap.copyrights.add('&copy; OpenStreetMap contributors, CC-BY-SA');


    jQuery.each(poly_json, function(i, val){
        // Создаем многоугольник, используя вспомогательный класс Polygon.
        var myPolygon = new ymaps.Polygon(val['polysets'], {
            // Описываем свойства геообъекта.
            // Содержимое балуна.
            hintContent: val['name']
        }, {
            // Задаем опции геообъекта.
            // Цвет заливки.
            fillColor: '#00FF0088',
            // Ширина обводки.
            strokeWidth: 2
        });

        // Добавляем многоугольник на карту.
        myMap.geoObjects.add(myPolygon);
    })

}

</script>

</body>